Admin POS Screens/
bootstrap/
database/
public/apk/
public/brand/
public/brandfeatured/
public/category/
public/customerscreen/
public/images/
public/products/
public/returns/
public/storelogos/
public/thumbnail/
public/uploads/
storage/
tests/
vendor/
vendor-45/
.htaccess
.env
beep.mp3

